body{font-family: 'Encode Sans', sans-serif;
  
  height: 400vh;}
  html {
    font-size: 1rem;
  }
  
 

/*carousel*/

.carousel-item 
{height: 80vh; 

}

.carousel-caption{
  top:30vh;

}

/*.img-fluid {width: 40vh;
position: absolute;
top: 8vh;
left: 2vw;}*/

/*navbar*/

a{   color:#615b5b;}


.nav-item.scrolled {
  background-color:white !important;
  transition: background-color 200ms linear;
  width: 25%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  }

  .ml14 {
    color: #abca38;
    font-weight: 200;
    font-size: 3.6em;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }


/*paragraph*/

.paragraph {
  font-size: 0.9em;
  padding-top: 2vh;
  padding-bottom: 5vh;
  margin: auto 15vh;
  text-align: center;
  color: #615b5b;
}

.headline{
padding-top:5vh;
font-size: 2em;
text-align: center;}


.block {
  width: 100px;
  height: 100px;
  background: #eee;
  margin: 10px;
  display: inline-block;
}

.active {
 background: #abca38;
 color: #fff;
}

.col{
  margin-left: 3vw;
  margin-right: 3vw;
}

.hover {
  background: #abca38;
}

/*about*/

.about{
  position: relative;
}
.h1about{
  position: absolute;
  z-index: 1;
  margin-top: 10vh;
  margin-left: 66vw;
  /*font-size: 2.5em;
  */
} 

.pabout
{
  position: absolute;
  z-index: 1;
  margin-top: 20vh;
  margin-left: 66vw;
  /*font-size: 1.2em;*/
  
}
/*contact*/


.contact{
  position: relative;
  margin-top: 15vh;
  margin-left: 15vw;
}

.h1contact{
  position: absolute;
  z-index: 1;
  margin-top: 20vh;
  margin-left: 50vw;
  
}

.pcontact
{
 position: absolute;
  z-index: 1;
  margin-top: 30vh;
  margin-left: 50vw;
  font-size: 1.2em;
  
}

li {
  margin-bottom: 10px;
}

.messanger{
  position: absolute;
  z-index: 1;
  margin-top: 40vh;
  margin-left: 8vw;


}

.mobile{
  position: absolute;
  z-index: 1;
  margin-top: 3vh;
  margin-left: 17vw;


}
.navigation{
  position: absolute;
  z-index: 1;
  margin-top: 25vh;
  margin-left: 36vw;


}
/*animated border bottom*/

.cool-link {
 display: inline-block;
  color: #615b5b;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.5vh;
  background: #abca38;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
transition: width .3s;
}

.telephone
{
  position: absolute;
  z-index: 1;
  margin-top: 40vh;
  margin-left: 50vw;
  font-size: 1.5em;
  
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}



/*@media(max-width: 1024px){
.carousel-caption{
  top:15vh;
}
.carousel-item {
  height: auto;
}
.ml14{
  font-size:3em;
}
.pabout{
    margin-top: 18vh;
    margin-left: 64vw;
  }
  .img-fluid {
    width: 20vh;
    margin-left:2vw;
  }
.mobile{
  top:133vh;
}
.messanger{
  top: 115vh;
  left: 2vw;
}
.h1contact{margin-top:12vh;

}
.pcontact{margin-top:18vh;}

.telephone{
  margin-top:22vh;
}
}


@media(max-width: 768px){
  .letters{
    font-size: 30px;
  }
}

  
  @media(max-width: 414px){
    .letters{
      font-size: 15px;
    }
    .carousel-caption{
      top:10vh;
    }
    .img-fluid {width: 15vh;
      position: absolute;
      top: 6vh;
      left: 2vw;}
  }
    
    
    @media(max-width: 375px){
      .letters{
        font-size: 12px;
      }
      .carousel-caption{
        top:10vh;
      }
      .img-fluid {width: 12vh;
        position: absolute;
        top: 6vh;
        left: 2vw;}
    }
    